.honeycombResponse {
    margin-top: 100px;
    margin-bottom: 100px;
}
.honeyAlert {
	word-wrap: break-word; 
	word-break: normal;
	white-space: pre-wrap;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#docHoney {
	color: red;
}

.lmargin {
	margin-left: 20px;
}

label.required:after {
	content: " *"; color: red;
}

.file {
  visibility: hidden;
  position: absolute;
}

.panel-default >.panel-heading {
    background-color: lightblue